<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">

        </div>
        <div class="col-lg-8 justify-content-center" style="padding-top: 1em">
            <h1>Providers overview</h1>
            <br>
        </div>
        <div class="col">

        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Add Provider</h5>
                    <a href="/provider-insertion" class="btn btn-dark">Add new</a>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <table class="table table-striped table-dark">
                <thead>
                <tr>
                    <!--          <th scope="col">#</th>-->
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Energy provided</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let provider of providerList">
                    <!--          <th scope="row">{{provider.id}}</th>-->
                    <td>{{provider.type}}</td>
                    <td>{{provider.price.toPrecision(4)}}</td>
                    <td>
                        <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
                        <!--              Graph-->
                        <!--            </button>-->
                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title" id="modal-basic-title">Provider #{{provider.id}}</h4>
                                <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                ...
                                <div style="display: block">
                                    <canvas baseChart
                                            [datasets]="dataSetGeneration(provider.energy)"
                                            [labels]="chartLabels"
                                            [legend]="barChartLegend"
                                            [options]="lineChartOptions"
                                            [chartType]="barChartType">
                                    </canvas>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Close Graph')">
                                    Close
                                </button>
                            </div>
                        </ng-template>
                        <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Graph</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            One of three columns
        </div>

    </div>
</div>
