<div class="container-fluid">

    <div class="row">
        <div class="col">

        </div>
        <div class="col-lg-8 justify-content-center" style="padding-top: 1em">
            <h1 class="display-4">Consumers overview</h1>
        </div>
        <div class="col">

        </div>
    </div>
<hr>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 13rem;">
                <div class="card-body">
                    <h5 class="card-title">Add Consumer</h5>
                    <a href="/consumer-insertion" class="btn btn-dark">Add new</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-dark">
                        <thead>
                        <tr>
                            <!--          <th scope="col">#</th>-->
                            <th scope="col">Name</th>
                            <th scope="col">Max Price</th>
                            <th scope="col">Energy demanded (24h)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let consumer of consumerList">
                            <!--          <th scope="row">{{provider.id}}</th>-->
                            <td>{{consumer.name}}</td>
                            <td>{{consumer.price.toPrecision(4)}} EUR</td>
                            <td>
                                <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
                                <!--              Graph-->
                                <!--            </button>-->
                                <ng-template #content let-modal>
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="modal-basic-title">Consumer {{consumer.name}}</h4>
                                        <button type="button" class="close" aria-label="Close"
                                                (click)="modal.dismiss('Cross click')">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                        <div style="display: block">
                                            <canvas baseChart
                                                    [datasets]="dataSetGeneration(consumer.power)"
                                                    [labels]="chartLabels"
                                                    [legend]="barChartLegend"
                                                    [options]="lineChartOptions"
                                                    [chartType]="barChartType">
                                            </canvas>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-dark"
                                                (click)="modal.close('Close Graph')">Close
                                        </button>
                                    </div>
                                </ng-template>
                                <button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(content)">Graph
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="col">

        </div>
    </div>
</div>
